/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes heart {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.25);
  }
}

@keyframes sparks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.like-icon.is-liked .heart {
  animation: heart 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s ease 0.03s;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s ease;
}

.like-icon .sparks {
  opacity: 0;
}

.like-icon .heart {
  transform-origin: center;
}

.like-icon:hover .core {
  fill: var(--heart-contour-color);
  transition: fill 0.3s ease;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour-color);
  transition: fill 0.3s ease 0.05s;
}

.like-icon:active .core,
.like-icon:active .main-body {
  fill: var(--heart-red-color);
  transition: fill 0.3s ease;
}

.like-icon.is-liked .core,
.like-icon.is-liked .main-body {
  fill: var(--heart-red-color);
  transition: fill 0.3s ease;
}

.like-icon.is-liked .contour {
  fill: var(--heart-red-color);
  transition: fill 0.3s ease 0.06s;
}

.like-icon:not(.is-liked) .contour {
  transition: fill 0.1s linear;
}

.dialog__close-button,
.card__like-button,
.save__button {
  position: relative;
  transition: box-shadow 0.3s ease;
}

.dialog__close-button::before,
.card__like-button::before, 
.save__button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.dialog__close-button:hover::before,
.card__like-button:hover::before,
.save__button:hover::before {
  transform: scaleX(1);
}

.dialog__close-button:focus,
.card__like-button:focus, 
.save__button:focus {
  outline: none;
  box-shadow: 2px 2px var(--accent-color);
}