/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter';
    --main-title-font: 'PressStart2P';
    --font-weight: 400;
    --bold-font-weight: 700;
    --main-font-size: 18px;
    --accent-color: #000000;
    --heart-contour-color: var(--accent-color);
    --heart-red-color: #ff0000;
    --background: 
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
}